flows_rohpi.json
[{"id":"454dc3e1.226fcc","type":"tab","label":"Admin","disabled":false,"info":""},{"id":"d7e4cc9b.1d498","type":"tab","label":"Presence Detect","disabled":false,"info":""},{"id":"cffab462.d188a8","type":"tab","label":"Photo","disabled":false,"info":""},{"id":"48c677e8.6c3bb8","type":"tab","label":"Video","disabled":false,"info":""},{"id":"dbb9fc74.e3429","type":"tab","label":"QR Code","disabled":false,"info":""},{"id":"d64abeca.7da7b","type":"tab","label":"Podcasts","disabled":false,"info":""},{"id":"b300cf47.abac6","type":"mqtt-broker","z":"","name":"rohbot","broker":"10.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d111e47.13b402","type":"exec","z":"d7e4cc9b.1d498","command":"nmap -sP -n 192.168.0.0/24","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nmap","x":180,"y":140,"wires":[["bbf40474.e7ce78","2e71024e.cda3ce"],[],[]]},{"id":"349ed371.4fdbfc","type":"inject","z":"d7e4cc9b.1d498","name":"trigger Nmap","topic":"test","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["3d111e47.13b402"]]},{"id":"bbf40474.e7ce78","type":"function","z":"d7e4cc9b.1d498","name":"split","func":"var data = msg.payload.split(\"\\n\");\nvar ips = [];\nvar ip = flow.get(\"ip\");\nfor(var i = 0; i < data.length; i++){\n    var tokens = data[i].split(\" \");\n    if(tokens[0] == \"Nmap\" && tokens[4] != \"addresses\"){\n        if(tokens[4] != ip)\n        ips.push(tokens[4]);    \n    }\n    \n}\nmsg.payload = ips;\n// var macs = [];\n// for(var i = 0; i < data.length; i++){\n//     var tokens = data[i].split(\" \");\n//     //macs.push(tokens);\n//     if(tokens[0] == \"MAC\"){\n//         macs.push(tokens[2]);    \n//     }\n    \n// }\n\n// msg.payload = macs;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"d4f41d30.cdf42","type":"mqtt out","z":"d7e4cc9b.1d498","name":"","topic":"","qos":"","retain":"","broker":"b300cf47.abac6","x":640,"y":300,"wires":[]},{"id":"433c2fd5.4dd79","type":"exec","z":"d7e4cc9b.1d498","command":"ifconfig wlan0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get IP","x":180,"y":260,"wires":[["a963ba70.e25a18"],["a963ba70.e25a18"],["a963ba70.e25a18"]]},{"id":"da29da2a.7a4048","type":"inject","z":"d7e4cc9b.1d498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["673458a0.120cf8"]]},{"id":"a963ba70.e25a18","type":"debug","z":"d7e4cc9b.1d498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":280,"wires":[]},{"id":"ef704ea1.959bd","type":"debug","z":"d7e4cc9b.1d498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":380,"wires":[]},{"id":"673458a0.120cf8","type":"hostip","z":"d7e4cc9b.1d498","name":"Host IP","x":180,"y":380,"wires":[["e12c622e.ea697"]]},{"id":"44941bee.668674","type":"mqtt in","z":"cffab462.d188a8","name":"","topic":"pi/photo","qos":"2","broker":"b300cf47.abac6","x":120,"y":120,"wires":[["aeece17.58ebd2","8c02eec2.1d30c"]]},{"id":"aeece17.58ebd2","type":"debug","z":"cffab462.d188a8","name":"Photo Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":80,"wires":[]},{"id":"8c02eec2.1d30c","type":"exec","z":"cffab462.d188a8","command":"wget ","addpay":true,"append":"-O photo.jpg","useSpawn":"false","timer":"","oldrc":false,"name":"get photo","x":260,"y":180,"wires":[["aeece17.58ebd2"],["aeece17.58ebd2"],["aeece17.58ebd2","2dff5cf.f537ea4"]]},{"id":"2dff5cf.f537ea4","type":"exec","z":"cffab462.d188a8","command":"sudo fbi -T 2 -a --noverbose  /home/pi/photo.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Display photo on screen","x":510,"y":220,"wires":[[],[],[]]},{"id":"2dd02d43.800b62","type":"inject","z":"48c677e8.6c3bb8","name":"play","topic":"","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["eef82b73.9c0ef8"]]},{"id":"eef82b73.9c0ef8","type":"rpi-omxplayer","z":"48c677e8.6c3bb8","name":"","filename":"https://r5---sn-nth2ivot-c33e.googlevideo.com/videoplayback?keepalive=yes&mt=1548330768&txp=5511222&key=yt6&clen=2508502&requiressl=yes&gir=yes&sparams=clen%2Cdur%2Cei%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Ckeepalive%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Crequiressl%2Csource%2Cexpire&ipbits=0&expire=1548352510&lmt=1540859664072171&ei=nqdJXNakKoXRoAPnlbIg&c=WEB&pl=23&id=o-ANtP1jD6yEjdINzOmxHKlP4vSzx8KsiYouvW30d4uNf2&initcwndbps=1146250&fvip=3&dur=164.821&ms=au%2Crdu&mime=audio%2Fwebm&mv=m&source=youtube&mn=sn-nth2ivot-c33e%2Csn-30a7rn7l&ip=96.30.100.44&mm=31%2C29&itag=251&signature=0D93E1518738B97C4C6ED77C7F489942413730AE.CAD6D99148CC3ED2474955355D0E495861419904&ratebypass=yes","audiooutput":"hdmi","blackbackground":true,"disablekeys":false,"disableosd":true,"disableghostbox":false,"subtitlepath":"","loop":false,"x":320,"y":100,"wires":[["3b2aaba4.f7bff4"]]},{"id":"c79eaf5.6b5375","type":"inject","z":"48c677e8.6c3bb8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["eef82b73.9c0ef8"]]},{"id":"3b2aaba4.f7bff4","type":"switch","z":"48c677e8.6c3bb8","name":"","property":"status.status","propertyType":"msg","rules":[{"t":"eq","v":"\"Stopped\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":220,"wires":[["982feb8a.11bbe8","4fb08960.3962f8"],[]]},{"id":"982feb8a.11bbe8","type":"debug","z":"48c677e8.6c3bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","x":610,"y":180,"wires":[]},{"id":"654423ae.29d58c","type":"debug","z":"48c677e8.6c3bb8","name":"Video Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","x":610,"y":260,"wires":[]},{"id":"4fb08960.3962f8","type":"exec","z":"48c677e8.6c3bb8","command":"sudo fbi -T 2 -a --noverbose  /home/pi/photo.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"show photo","x":590,"y":100,"wires":[[],[],[]]},{"id":"ac7fc91.f261e38","type":"inject","z":"48c677e8.6c3bb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":20,"wires":[["4fb08960.3962f8"]]},{"id":"5ad54522.a75b5c","type":"mqtt in","z":"48c677e8.6c3bb8","name":"","topic":"pi/photo2","qos":"2","broker":"b300cf47.abac6","x":160,"y":360,"wires":[["ef87efe2.c7711"]]},{"id":"ef87efe2.c7711","type":"exec","z":"48c677e8.6c3bb8","command":"sudo fbi -T 2 -a --noverbose  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"show photo","x":370,"y":380,"wires":[[],[],["ba44bfd1.3285e"]]},{"id":"11a5199.64cf6e6","type":"mqtt in","z":"48c677e8.6c3bb8","name":"","topic":"pi/video","qos":"2","broker":"b300cf47.abac6","x":70,"y":20,"wires":[["c2e24662.680bd8"]]},{"id":"6aefebce.c6edf4","type":"inject","z":"48c677e8.6c3bb8","name":"","topic":"","payload":"/home/pi/pp-sunset.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["ef87efe2.c7711"]]},{"id":"e12c622e.ea697","type":"function","z":"d7e4cc9b.1d498","name":"get ip","func":"var data = msg.payload;\n// for(var i = 0; i < data.length; i++){\n    \n// }\nmsg.payload = msg.payload[0].address;\n\nflow.set(\"ip\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["ef704ea1.959bd"]]},{"id":"2e71024e.cda3ce","type":"arp","z":"d7e4cc9b.1d498","name":"ARP","macs":"","x":350,"y":60,"wires":[["50b32d9a.0179d4"]]},{"id":"6ab55d88.434f34","type":"catch","z":"d7e4cc9b.1d498","name":"","scope":null,"x":620,"y":220,"wires":[["1ba6f41c.8ee84c"]]},{"id":"1ba6f41c.8ee84c","type":"debug","z":"d7e4cc9b.1d498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":200,"wires":[]},{"id":"50b32d9a.0179d4","type":"function","z":"d7e4cc9b.1d498","name":"Check MAC","func":"var hanMac = '24:92:0e:8a:10:e8';\nvar hanStatus = flow.get('hannahHome') || false;\nvar hanHome = false;\nvar output = \"No Change\";\nfor(var i= 0; i < msg.payload.length; i++){\n    var mac = msg.payload[i].mac;\n    if(mac == hanMac){\n        hanHome = true;\n        if(!hanStatus){\n            flow.set('hannahHome', true);   \n            output = 'Hannah is Home'\n        }\n        \n    }\n}\n\nif(hanStatus && !hanHome){\n    flow.set('hannahHome', false);\n    output = 'Hannah not Home';\n}\nmsg.status = flow.get('hannahHome');\nmsg.payload = hanHome;\n//msg.payload = output;\n//msg.topic = 'telegram/out'\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["2c1584b2.0daa6c"]]},{"id":"53c21c85.e7da34","type":"debug","z":"d7e4cc9b.1d498","name":"Hannah Home","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","x":760,"y":40,"wires":[]},{"id":"cb604b2.76995b8","type":"switch","z":"d7e4cc9b.1d498","name":"Send Telegram","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"No Change","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":100,"wires":[[],[]]},{"id":"b63f20b8.9f16a","type":"inject","z":"dbb9fc74.e3429","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["72a9e26.a4f751c"]]},{"id":"29d93ef6.185c12","type":"exec","z":"dbb9fc74.e3429","command":"qrcode ","addpay":true,"append":"qrcode -o qr.jpg https://node.rohbot.cc/hello","useSpawn":"true","timer":"","oldrc":true,"name":"","x":310,"y":100,"wires":[[],["f2507b9f.372508"],["f2507b9f.372508","7d319e4e.5c3f6"]]},{"id":"7d319e4e.5c3f6","type":"change","z":"dbb9fc74.e3429","name":"Set Photo Filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/qr.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["6936775b.d894d8"]]},{"id":"6936775b.d894d8","type":"mqtt out","z":"dbb9fc74.e3429","name":"","topic":"pi/photo2","qos":"","retain":"","broker":"b300cf47.abac6","x":770,"y":120,"wires":[]},{"id":"4b6c2126.1cab4","type":"function","z":"dbb9fc74.e3429","name":"add \"","func":"msg.payload = \"'\" + msg.payload + \"'\"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["29d93ef6.185c12"]]},{"id":"f2507b9f.372508","type":"debug","z":"dbb9fc74.e3429","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":200,"wires":[]},{"id":"ba44bfd1.3285e","type":"debug","z":"48c677e8.6c3bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":380,"wires":[]},{"id":"24fbfe0a.e45e92","type":"function","z":"dbb9fc74.e3429","name":"qrcode","func":"var qr = require('qr-image');\n \nvar qr_svg = qr.image(msg.payload);\nqr_svg.pipe(require('fs').createWriteStream('qr.png'));\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":320,"wires":[["927bf295.018b"]]},{"id":"4838e5a7.743c0c","type":"catch","z":"dbb9fc74.e3429","name":"","scope":null,"x":360,"y":260,"wires":[["927bf295.018b"]]},{"id":"927bf295.018b","type":"debug","z":"dbb9fc74.e3429","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":300,"wires":[]},{"id":"fe577833.4f5d38","type":"inject","z":"d7e4cc9b.1d498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":460,"wires":[["79b5496d.9d16c8"]]},{"id":"79b5496d.9d16c8","type":"function","z":"d7e4cc9b.1d498","name":"set Hannah Home false","func":"flow.set(\"hannahHome\", false);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[[]]},{"id":"72a9e26.a4f751c","type":"mqtt out","z":"dbb9fc74.e3429","name":"","topic":"pi/qr","qos":"","retain":"","broker":"b300cf47.abac6","x":290,"y":380,"wires":[]},{"id":"c2e24662.680bd8","type":"change","z":"48c677e8.6c3bb8","name":"select file","rules":[{"t":"set","p":"filename","pt":"msg","to":"msg.payload","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":40,"wires":[["eef82b73.9c0ef8","c6240acd.2951e8"]]},{"id":"c6240acd.2951e8","type":"debug","z":"48c677e8.6c3bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":60,"wires":[]},{"id":"2c1584b2.0daa6c","type":"mqtt out","z":"d7e4cc9b.1d498","name":"","topic":"home/hannah","qos":"","retain":"","broker":"b300cf47.abac6","x":670,"y":140,"wires":[]},{"id":"5d7fa7ae.dca7f8","type":"inject","z":"454dc3e1.226fcc","name":"Restart Node-RED","topic":"","payload":"sudo systemctl restart nodered","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["4a50cef6.f6b58"]]},{"id":"4a50cef6.f6b58","type":"exec","z":"454dc3e1.226fcc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run Commands","x":380,"y":100,"wires":[[],[],[]]},{"id":"19a799b5.8c5416","type":"debug","z":"d64abeca.7da7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":100,"wires":[]},{"id":"9697897.4395a78","type":"inject","z":"454dc3e1.226fcc","name":"rand-circ","topic":"","payload":"/home/pi/rand-circ/bin/rand-circ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["4a50cef6.f6b58"]]},{"id":"c2deb023.2d5c2","type":"inject","z":"454dc3e1.226fcc","name":"","topic":"","payload":"pkill rand-circ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["4a50cef6.f6b58"]]},{"id":"56599f16.328b7","type":"mqtt in","z":"454dc3e1.226fcc","name":"","topic":"pi/cmd/in","qos":"2","broker":"b300cf47.abac6","x":110,"y":340,"wires":[["aa31a6be.0389d8"]]},{"id":"aa31a6be.0389d8","type":"exec","z":"454dc3e1.226fcc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run Commands","x":300,"y":340,"wires":[["6cc2b422.1a638c"],[],[]]},{"id":"6cc2b422.1a638c","type":"mqtt out","z":"454dc3e1.226fcc","name":"","topic":"pi/cmd/out","qos":"","retain":"","broker":"b300cf47.abac6","x":590,"y":320,"wires":[]},{"id":"49ae6914.5ac028","type":"feedparse","z":"d64abeca.7da7b","name":"BBC News","url":"http://podcasts.files.bbci.co.uk/p0299wgd.rss","interval":"60","x":100,"y":100,"wires":[[]]}]